

@{
    ViewBag.Title = "Listar";
}
@model MVCCodigo2024.Models.ProductoCliente

<h2>Listar</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in ((MVCCodigo2024.Models.ProductoCliente)Model).Productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>@producto.Cantidad</td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in ((MVCCodigo2024.Models.ProductoCliente)Model).Clientes)
        {
            <tr>
                <td>@cliente.ClienteID</td>
                <td>@cliente.Nombre</td>
            </tr>
        }
    </tbody>
</table>

